.body {
    background: silver;
    margin: 0 auto;
    width: 100%;
}

.gallery {
     display: flex; 
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 750px;
    background-color: silver;
    margin: 0px auto;
    padding: 5px;
}

.gallery img {

    width: 150px;
    height: 150px;
    background: rgb(170, 197, 222);
    border-radius: 10px;
}


.row {
    display: flex;
    justify-content: centre;
    align-items: center;
    width: 700px;
    margin: 2px;
    gap: 15px;
    border-radius: 10px;
}

.ro1 {
    display: flex;
    justify-content: space-evenly;
    background: greenyellow;
    width: 700px;
    padding: 15px 10px;
    margin: 0;
    gap: 10px;
}

.row2 {
    display: flex;
    justify-content: space-evenly;

    margin: 0;
    gap: 15px;
    background: rgb(235, 185, 235);
    width: 700px;
    padding: 15px 10px;

}

.img {

    background: rgb(236, 147, 208);


    display: flex;
    justify-content: space-evenly;

    margin: 0;
    gap: 15px;

    width: 680px;
    padding: 15px 10px;

}