.row {
    display: flex;
    margin-bottom: 20px;


}

.row .col {
    flex: 1;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background: rgb(185, 181, 181);

}

.row .col-2 {
    display: 2;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background: lightblue;
}

.row .col-3 {
    flex: 3;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background: lightgreen;
}